html {
  background: url("img/portfolio/bg03.png") no-repeat center center fixed;
  background-size: cover;
}
p{
  font-size: 20px;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 5em;
  margin-right: 5em;
}
h1, h2{
  text-align: center;
  font-family: foolishKing;
  color: black;
}
h1{
  font-size: 80px;
}
h2{
  font-size: 60px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Beginning of Toolbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.315);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 6px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/*End of Toolbar*/