<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="../favicon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <!-- Embed -->
    <title>KSH | Commissions</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="kshArtist" />
    <meta property="og:description" content="Commissions are closed (Dec. 2022)" />
    <meta property="og:url" content="kingishksh.github.io" />
    <meta property="og:image" content="https://kingishksh.github.io/img/embed.png" />
  </head>
  <header>
    <img src="../img/assets/bgA.png" class="centerImage" />
    <h1>CLOSED</h1>
    <nav class="container">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./commissions.html">Commissions</a></li>
        <li><a href="./ratquest.html">Bimpus</a></li>
      </ul>
    </nav>
  </header>
  <img class="centerImage" src="../img/assets/find_me.png">
  <p class="divCenter">Come back or follow me on social media to get notified when I'm open again ASAP! (Last updated: April 2023)</p>
    <footer>
      <div class="divCenter">
        <a href="https://kshArtist.newgrounds.com" target="_blank"><img src="../img/assets/NG.png" /></a>
        <a href="https://kshArtist.tumblr.com" target="_blank"><img src="../img/assets/TU.png" /></a>
        <a href="https://twitter.com/kshArtist" target="_blank"><img src="../img/assets/TW.png" /></a>
        <a href="https://instagram.com/kshArtist" target="_blank"><img src="../img/assets/IN.png" /></a>
      </div>
      <p>Copyright © 2023 All Rights Reserved by kshArtist</p>
    </footer>
  </html>