<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="../favicon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <!-- Embed -->
    <title>KSH | Home</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="kshArtist" />
    <meta property="og:description" content="My name is Marcus, art is a side hustle" />
    <meta property="og:url" content="kingishksh.github.io" />
    <meta property="og:image" content="https://kingishksh.github.io/img/embed.png" />
  </head>

  <header>
    <img src="../img/portfolio/2022/22.05.21_cnColors.png" class="centerImage" />
    <h1>Hi, I'm Marcus</h1>
    <nav class="container">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./commissions.html">Commissions</a></li>
        <li><a href="./ratquest.html">Bimpus</a></li>
      </ul>
    </nav>
    <h3>Art is just a side hustle</h3>
  </header>

  <main>
    <body>
      <div class="modal" id="modalBox">
        <img src="IGNORE_THIS_WARNING_LOL" id="modal" />
        <!-- <span>X</span> -->
        <!-- <div class="modalButtons">
          <button>Download</button>
          <button>Share</button>
        </div> -->
      </div>
      <div class="portfolio">
        <img id="thumbnail" src="../img/portfolio/thumb/th_23.03.30_doctagon.png" onclick='openModal("../img/portfolio/2023/23.03.30_doctagon.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_23.03.05_sloot.png" onclick='openModal("../img/portfolio/2023/23.03.05_sloot.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_23.01.20_lunar.png" onclick='openModal("../img/portfolio/2023/23.01.20_lunar.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.11.06_wowie.png" onclick='openModal("../img/portfolio/2022/22.11.06_wowie.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.11.06_ankhared.png" onclick='openModal("../img/portfolio/2022/22.11.06_redAnkha_2.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.11.06_ankha43.png" onclick='openModal("../img/portfolio/2022/22.11.06_greenAnkhaFull.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.09.01_totalbabe.png" onclick='openModal("../img/portfolio/2022/22.09.01_totalbabe.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.07.18_parasoul.png" onclick='openModal("../img/portfolio/2022/22.07.18_parasoul.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.07.19_dogs.png" onclick='openModal("../img/portfolio/2022/22.07.18_dogs.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.07.10_raccoon.png" onclick='openModal("../img/portfolio/2022/22.07.10_raccoon.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.07.01_gioSmug.png" onclick='openModal("../img/portfolio/2022/22.07.01_gioSmug.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.07.01_gioWut.png" onclick='openModal("../img/portfolio/2022/22.07.01_gioWut.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_cnColors.png" onclick='openModal("../img/portfolio/2022/22.05.21_cnColors.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_sistermas.png" onclick='openModal("../img/portfolio/2021/21.12.20_sistermas.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_cowBF.png" onclick='openModal("../img/portfolio/2021/21.11.25_cowBF.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_girl.png" onclick='openModal("../img/portfolio/2021/21.05.20_girl.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_sparkmanchu.png" onclick='openModal("../img/portfolio/2021/21.05.18_sparkmanchu.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_wyatt.png" onclick='openModal("../img/portfolio/2021/21.03.22_wyatt.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_fungus.png" onclick='openModal("../img/portfolio/2021/21.03.22_fungus.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_fatback.png" onclick='openModal("../img/portfolio/2021/21.01.30_fatback.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_rudegirl.png" onclick='openModal("../img/portfolio/2021/21.01.22_rudegirl.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_pico.png" onclick='openModal("../img/portfolio/2021/21.01.11_pico.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_yearbook.png" onclick='openModal("../img/portfolio/2020/20.12.19_yearbook.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_ratte.png" onclick='openModal("../img/portfolio/2020/20.10.02_ratte.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_snootyFunny.png" onclick='openModal("../img/portfolio/2020/20.11.28_snootyFunny.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_uptilt.png" onclick='openModal("../img/portfolio/2020/20.10.23_uptilt.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_w98.png" onclick='openModal("../img/portfolio/2020/20.10.23_anthonyVtuber.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_newPFP.png" onclick='openModal("../img/portfolio/2020/20.09.27_newPFP.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_tofuHD.png" onclick='openModal("../img/portfolio/2020/20.07.31_tofuHD.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_bigSis.png" onclick='openModal("../img/portfolio/2020/20.07.06_bigSis.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_123SA3.png" onclick='openModal("../img/portfolio/2020/20.05.13_GeneiJin.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_legosi.png" onclick='openModal("../img/portfolio/2020/20.04.28_legosi.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_fsteak.png" onclick='openModal("../img/portfolio/2020/20.04.28_fsteak.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_kizunaai.png" onclick='openModal("../img/portfolio/2020/20.04.28_kizunaai.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_somsnosa.png" onclick='openModal("../img/portfolio/2020/20.04.28_somsnosa.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_cock.png" onclick='openModal("../img/portfolio/2020/20.04.28_cock.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_fortune.png" onclick='openModal("../img/portfolio/2020/20.04.28_fortune.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_raymond.png" onclick='openModal("../img/portfolio/2020/20.07.20_raymond.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_pecan.png" onclick='openModal("../img/portfolio/2020/20.03.21_pecan.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_hobo.png" onclick='openModal("../img/portfolio/2020/20.03.07_hobo.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_teamFabulous_Doc.png" onclick='openModal("../img/portfolio/2020/20.02.22_doc.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_acnh_plane1.png" onclick='openModal("../img/portfolio/2020/20.01.22_acnhPlane.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_ankhaBeach.png" onclick='openModal("../img/portfolio/2019/19.12.26_ankhaBeach.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_iLikeSwords.png" onclick='openModal("../img/portfolio/2019/19.12.17_iLikeSwords.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_mousey.png" onclick='openModal("../img/portfolio/2019/19.12.13_mousey.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_pfp2020.png" onclick='openModal("../img/portfolio/2019/19.11.22_throwback.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_coldgirl.png" onclick='openModal("../img/portfolio/2019/19.11.03_ingrid.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_katiaFighter.png" onclick='openModal("../img/portfolio/2019/19.12.18_katiaFighter.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_cassie.png" onclick='openModal("../img/portfolio/2019/19.09.28_cakeCassie.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_Peone.png" onclick='openModal("../img/portfolio/2019/19.10.03_peoneFinal.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_Sunshine.png" onclick='openModal("../img/portfolio/2019/19.10.05_sunshine.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_windwaker.png" onclick='openModal("../img/portfolio/2019/19.07.30_ww.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_Luiginary.png" onclick='openModal("../img/portfolio/2019/19.06.22_luiginary.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_skwigle.png" onclick='openModal("../img/portfolio/2019/19.06.03_skwigle.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_instant.png" onclick='openModal("../img/portfolio/2019/19.04.12_instantMusic.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_wifey.png" onclick='openModal("../img/portfolio/2019/19.04.04_chloe.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_bitch_dagger.png" onclick='openModal("../img/portfolio/2019/19.01.11_bitchDagger.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_punch2.png" onclick='openModal("../img/portfolio/2018/18.12.17_punch.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_gulu_callie.png" onclick='openModal("../img/portfolio/2018/18.08.22_callieq.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_rakuga.png" onclick='openModal("../img/portfolio/2018/18.08.21_rakugaKids.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_chunli.png" onclick='openModal("../img/portfolio/2017/17.02.07_Chun.png")' />
      </div>
      <script src="../js/portfolio.js"></script>
    </body>
  </main>
  <footer>
    <div class="divCenter">
      <a href="https://kshArtist.newgrounds.com" target="_blank"><img src="../img/assets/NG.png" /></a>
      <a href="https://kshArtist.tumblr.com" target="_blank"><img src="../img/assets/TU.png" /></a>
      <a href="https://twitter.com/kshArtist" target="_blank"><img src="../img/assets/TW.png" /></a>
      <a href="https://instagram.com/kshArtist" target="_blank"><img src="../img/assets/IN.png" /></a>
    </div>
    <p>Copyright © 2023 All Rights Reserved by kshArtist</p>
  </footer>
</html>

<!--
TODO
    Button in Modal:
    >Arrow Left
    >Download
    >Share (copies link to clipboard)
    >Arrow Right

    URL embed idea:
    drawn by kshArtist on Tumblr | Twitter | Newgrounds
-->

<!-- This is a test -->