<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>KSH || Page Unavailable :o(</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
  </head>
  <html style="background: cadetblue">
    <img
      src="../img/spEmbed.png"
      style="
        z-index: -1;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
      "
    />
    <br />
    <h1
      style="z-index: -1; display: block; margin-left: auto; margin-right: auto"
    >
      If you're seeing this page, your device is working just fine but the page
      you're supposed to be viewing is being worked on. Come back later!
    </h1>
  </html>
</html>
