<!-- A large part of this site's section is based on the works of Mozai. Please check him out (NSFW) at mozai.com -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bimpus Quest</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="kshArtist" />
    <meta property="og:description" content="a collab by kshArtist and The Rat Zone(tm)" />
    <meta property="og:url" content="kingishksh.github.io" />
    <meta property="og:image" content="https://kingishksh.github.io/img/bimpusQuest_logo.gif" />
    <link rel="stylesheet" type="text/css" href="../css/ratquest.css" />
    <script src="../js/ratquest.js"></script>
  </head>
  <ul>
    <li><a style="color: orange" target="_blank" href="./index.html">Back to kshArtist's site</a></li>
  </ul>
  <body class="divCenter">
    <div id="loading" class="loading">
      <p>Please hold :o)</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/logo.gif" />
      <p>A quest hosted by <b>kshArtist</b> with the help of <b>The Rat Zone</b></p>
      <p>Use the arrows at the top or bottom of each page to navigate</p>
      <p>Started: Nov 30th, 2019</p>
      <p>Ended: Jan 4th, 2020</p>
      <p>
        <a style="color: orange" target="_blank" href="https://1d4chan.org/wiki/Quest">What's a quest?</a>
      </p>
      <p><a style="color: orange" href="./ratquestch2.html">Part 2</a></p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_001.png" />
      <p class="command"></p>
      <p class="narrator">Name this Rat</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_002.png" />
      <p class="command">> Bimpus</p>
      <p class="narrator">
        This is Bimpus. He is a nimble RAT who is on an IMPORTANT QUEST to: eat FOOD, find a MATE
        and ENJOY his rat life. How will his day start out?
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_003.png" />
      <p class="command">> Step on the trap step on the trap step on the trap step on the trap</p>
      <p class="narrator">
        Stepping on top of Bimpus's WORTHLESS BENCH PRESS does nothing. But he feels a bit taller
        standing on top, and thus a little better about himself at least.
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_004.png" />
      <p class="command">> Cum. NOW.</p>
      <p class="narrator">
        Bimpus's HORNEY METER is currently at 1/10. If Bimpus reaches 7/10 HORNY he gains gives
        access to his LIMIT BREAK: COOM
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_005.png" />
      <p class="command">> place the can on top of the mouse trap</p>
      <p class="narrator">
        Bimpus likes the idea of being taller. The CAN OF FLAVOURISHIOUS FLOYD has a SMALL PEBBLE
        inside it and is added to Bimpus's inventory (1/2). There's a picture of a DEVILISHLY
        HANDSOME young man with a wonderful hat. They say he's done something to them, but who
        "them" is and what he had done is unspoken of.
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_006.png" />
      <p class="command">> find rat gf</p>
      <p class="narrator">
        There are no RAT BABES to be found. The unspoken rule of reality found in all walks in life
        is that finding a MATE is very hard if you don't have anything to show, which is the current
        state of affairs. It's advised to WATCH OUT FOR RAT BABES... but there's a chance they could
        be right outside Bimpus's little door
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_007.png" />
      <p class="narrator">Could it be? RAT BABES at this hour?</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_008.png" />
      <p class="command">> peek out your lil mouse hole</p>
      <img class="centerksh" src="../img/part1/p1_008a.png" />
      <p class="narrator">
        Nothing seems to be out of place right now, but wow it's BRIGHT outside. Humans sure have a
        lot of space that Bimpus's RAT BRAIN cannot imagine making good use of himself
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_009.png" />
      <p class="command">> try and get horny</p>
      <p class="narrator">
        Clearly there is no one attractive to SEDUCE, but Bimpus thinks back about FLAVOURISHIOUS
        FLOYD
        <br />
        <br />
        ...
        <br />
        <br />
        Horny +1
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_010.png" />
      <p class="command">> check underneath the couch</p>
      <p class="narrator">
        Bimpus finds two items of significance: a REMOTE and a CLEANUP BOX. The CLEANUP BOX item
        might be useful for self-aid at best for now, and as far as our rat friend is aware: The
        REMOTE is used for a TELEVISION, but this does not appear to be the MAIN REMOTE the humans
        in the house use. Bimpus cannot carry the REMOTE because it takes up 4 slots of his
        inventory.
        <br /><br />
        The CLEANUP BOX contains THIN LAYERS (x50) that each take up 0.04 of your inventory.
        Meanwhile, the CLEAN UP BOX ITSELF takes up 3 of Bimpus's inventory that he cannot carry
        with his MINIATURE MITTS
        <br /><br />
        It's either Bimpus can work on his inventory or find an ALTERNATE MEAN to move these objects
        around
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_011.png" />
      <p class="command">> smell chease</p>
      <p class="narrator">
        The feeble rodent's mind reaches the thoughts of DELICIOUS YUMYUM CHEASE-ERRONI... such
        WONDEROUS DELICACY that the humans carry around fill the young Bimpus' mind with solace,
        having to worry about going hungry in the night. Food is HARD TO GET, but you'd risk your
        life to get something for the night. Anything.

        <br /><br />
        Hunger +1
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_012.png" />
      <p class="command">> examine the figurine</p>
      <p class="narrator">
        The ELF FIGURE stands grimly with it's blank face. It's rather COMPARABLY SCALED, filling
        the small pest with even more chills down its rump. But perhaps the LACKING DETAILS make it
        totally HARMLESS in appearance, keeping Bimpus' SANITY at (7/10) right now.
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_013.png" />
      <p class="command">> try an icebreaker</p>
      <p class="narrator">
        The ELF FIGURE seems EXTREMELY DISPLEASED AND UNIMPRESSED of Bimpus' LOOSE FLIRTING and
        TERRIBLE MANNERS. He runs back into your little rat home in fear
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_014.png" />
      <p class="narrator">Sanity -2, Horny -2</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_015.png" />
      <p class="command">> hit the START button on your controller</p>
      <p class="narrator">Not perfect, but Bimpus is looking fine for now</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_016.png" />
      <p class="command">> chew on your pebble</p>
      <p class="narrator">
        Bimpus takes a large single bite of the PEBBLE, making him lose his ONE TOOTH. He has lost
        the ABILITY TO CHEW, rendering him UNABLE TO EAT SOLIDS
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_017.png" />
      <p class="command">> play Nintendo Wii</p>
      <p class="narrator">
        Not only does this WIIMOTE exceed past Bimpus's inventory capabilities, but he lacks the
        STRENGTH (2/10) to push it. Even worse, he needs at least a consistent STRENGTH (5/10) to
        effectively interact with the WIIMOTE. Our famished rat child will require STRENGTH BEYOND
        HIS CURRENT CAPABILITY.
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_018.png" />
      <p class="command">> make fashionable clothes for yourself</p>
      <p class="narrator">
        Bimpus learned a thing or two abut dresses from TRASH TV SHOWS. Taking 25x TISSUES from the
        TISSUE BOX (50/50 => 25/50 Tissues), Bimpus creates a FINE-LOOKING DRESS that takes up 0.5
        of his INVENTORY (1.5/2 => 2/2)
        <br /><br />
        Let a rat experiment, will ya?
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_019.png" />
      <p class="command">> embarass yourself</p>
      <p class="narrator">Feelin' a lil silly tonight, aren't we? :o)</p>
    </div>
    <div class="page">
      <img class="centerksh" src="../img/part1/p1_020.png" />
      <p class="command">> multiply...</p>
      <p class="narrator">Not enough lands in play to do that :/</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_021.png" />
      <p class="command">> think about your rat family</p>
      <p class="narrator">
        There is no family for Bimpus, but he does think about it every now and then: having a
        wonderful wife who cuddles him to sleep, knowing that their short lives are at least HAPPY
        with each other. It's not an easy thing to think about knowing his LIMITED RAT LIFE
      </p>
      <br /><br />
      Sanity -1
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_022.png" />
      <p class="command">> Perform a Mario 64 Glitch</p>
      <p class="narrator">
        Upon reaching the next room, Bimpus hits a wall. Here, he has gained SPEED (3/10 => 6/10).
        Here, Bimpus can stop moving and immediately head back to having 3/10 SPEED, or he can keep
        hugging this wall to build up even more SPEED (+10/10).
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_023.png" />
      <p class="command">>Continue building speed</p>
      <p class="narrator">
        Having built up a maximum of 96/10 SPEED, Bimpus is able to clip through the cardboard box
        because of how collision works in this quest. By traveling 3 PU's down and 1 to the right,
        Bimpus manages to relocate himself inside the box rather than outside because the box is
        unable to comprehend the complex nature of PU's
        <br /><br />
        Bimpus hopes he can one day meet his hero, pannenkoek2012, one day. PU's are so interesting

        <br /><br />
        Also he can't see anything now. It's probably self explanatory why, but Bimpus explains that
        the reason why it's so dark is because there is no light illuminating the inner confinements
        of the box he's tricked the Quest's Writing-Engine to believe he's in. The lack of
        illuminating reflection into his eyes makes him unable to tell the different shades of grey
        limited by the lack of effort this quest's QM, which has ultimately led to this panel being
        pitch black for the most part

        <br /><br />
        Hopefully the science of eyesight didn't confuse you. Bimpus did his best to simplify it for
        you rat-brains
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_024.png" />
      <p class="command">> cast FIR2</p>
      <p class="narrator">
        A hole is burnt into the wall of the box with your surprising, yet unimaginative FIRE
        POWERS. You burnt your FINE-LOOKING DRESS in the process, leaving your `INVENTORY AT 1.5 (2
        - 0.5 = 1.5/2)
        <br /><br />
        The FRIENDLY CRAB appears to have burst into flames as a result. For some reason, this does
        not affect your sanity and might even fill you with laughter over their embarassment.
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_025.png" />
      <p class="command">> let the crab die</p>
      <p class="narrator">
        The FRIENDLY CRAB's demise will not go in vain. Immediately after, Bimpus consume's the CRAB
        CAKES the innocent fellow was fated to become.
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_026.png" />
      <p class="command">>Level up</p>
      <p class="narrator">
        Congratulations Bimpus! Our rat friend has reached Lv.2! He has learned how to use PIANO
        (User gains the ability to play anything on an available piano) <br /><br />
        Horny +5, Hunger -3, Sanity +2, Speed +2
        <br /><br />
        Health Status: A lil better :o)
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_027.png" />
      <p class="command">> smell the ashes</p>
      <p class="command">> loot the crab's wallet</p>
      <p class="narrator">
        The FRIENDLY CRAB who was burnt asunder into a CRAB CAKE has unfortunately burnt even more
        asunder into a PIECE OF CHARCOAL. Bimpus will unfortunately never send his condolences to
        the crab's kangaroo wife
        <br /><br />
        All Bimpus can smell is DANGER
        <br /><br />
        Sanity -2
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_028.png" />
      <p class="command">> do things that will let you relax</p>
      <p class="command">> acquire crab eyeballs</p>

      <p class="narrator">
        there are no CRAB EYEBALLS to obtain, friendly reminder that the FRIENDLY CRAB burnt crisp
        into charcoal. Quite impolite of him to just go away with no warning ://
        <br /><br />
        Bimpus manages to carry a PIECE OF CHARCOAL weighing a total of 0.5, making his inventory
        now full (1.5/2 => 2/2)
        <br /><br />
        There are no flowers around! If there ever was any, they would've been gone by now!
        <br /><br />
        Sanity -3
        <br /><br />
        Bimpus appears to be DANGEROUSLY CLOSE TO LOSING IT. Better write in something to help our
        friend out
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_029.png" />
      <p class="command">[Incoherent command]</p>
      <p class="narrator">
        Bimpus hears something, It's a bit difficult to make out what they're saying, but maybe if
        they didn't edit their submission so many times it would have been easier to get...
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_030.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part1/p1_031.png" />
      <p class="narrator">
        And so this chapter has come to an end. Will our hero Bimpus continue on his epic rat quest?
        Find out next time in...
      </p>
      <a style="color: orange" href="./ratquestch2.html">BIMPUS QUEST: Part 2</a>
    </div>
  </body>
  <nav class="container"></nav>
</html>
