<!-- A large part of this site's section is based on the works of Mozai. Please check him out (NSFW) at mozai.com -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bimpus Quest</title>
    <link rel="stylesheet" type="text/css" href="../css/ratquest.css" />
    <script src="../js/ratquest.js"></script>
  </head>
  <ul>
    <li>
      <a style="color: orange" target="_blank" href="./index.html">Back to kshArtist's site</a>
    </li>
  </ul>
  <body class="divCenter">
    <div id="loading" class="loading">
      <p>Please hold :o)</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/logo2.gif" />
      <p>Part two of a quest hosted by <b>kshArtist</b> with the help of <b>The Rat Zone</b></p>
      <p>Use the arrows at the top or bottom of each page to navigate</p>
      <p>Started: Feb 11th, 2020</p>
      <p>Ended: July 5th, 2020</p>
      <p>
        <a style="color: orange" target="_blank" href="https://1d4chan.org/wiki/Quest"
          >What's a quest?</a
        >
      </p>
      <p><a style="color: orange" href="./ratquest.html">Part 1</a></p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_001.png" />
      <p class="command"></p>
      <p class="narrator">
        Our Pro Tagonist has awoken! And he's alive! A ratmas miracle!? What happens now?
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_002.png" />
      <p class="command">>Check Inventory</p>
      <p class="narrator"></p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_002_a.png" />
      <p class="command">>Detonate</p>
      <p class="narrator">
        Last time Bimpus "detonated" something weird and bad stuff happened. You don't even have a
        DETONATOR for anything right now. Just your BROKE TOOTH and PEBBLE
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_002_b.png" />
      <p class="command">>Think about a certain cute rat boy</p>
      <p class="narrator">Why think of cute rat boys when there's one in the mirror. C'mon now.</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_002_c.png" />
      <p class="command">>Survey your surroundings</p>
      <p class="narrator">
        Nothing is all around besides debris. It's quite an amazing sight. There's more space to
        skitter around than ever in your life. But maybe this amount of space has always existed
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_003_a.png" />
      <p class="command">>Scratch behind your ears</p>
      <p class="narrator">
        Yuck, there's weird gooey stuff behind Bimpus's ear. He feels better after a good scratch,
        feels nice everytime. Bimpus's SANITY goes up (4/10 => 5/10)
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_003_c1.png" />
      <p class="command">>Draw face on pebble</p>
      <p class="narrator">Using the ashes on his fur, Bimpus summons an amiable ally MR. BALBOA!</p>
      <img class="centerksh" src="../img/part2/p2_003_c2.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_003_d.png" />
      <p class="command">>"Dragon Quest"</p>
      <p class="narrator">Feeling a lil silly... again!</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_003_e.png" />
      <p class="command">>Jump 30ft in the air and observe the area at large</p>
      <p class="narrator">
        Your SMALL PHYSIQUE and NIMBLE SPEED allows Bimpus to jump 30 feet in the air. This is
        PROBABLY NOT a realistic jump height height for rats nor is the way this scene is portrayed.
        The POWER OF FICTION ignores these and allows Bimpus to see from the distance a
        SQUARE-SHAPED BARRIER SURROUNDING MOUNTAINS OF SOMETHING. Maybe he should check it out, but
        there's another issue going on this instant:
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_003_f.png" />
      <p class="command"></p>
      <p class="narrator">
        Bimpus's EVEN SMALLER BRAIN disallowed him to consider that he cannot land safely due to the
        POWER OF FICTION's bullshit. Will he land safely?!?!?!?!?!!?!?!?!!??
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_004_a.png" />
      <p class="command"></p>
      <p class="narrator">
        Bimpus's RAT BRAIN makes it impossible to follow any of these commands! The next two
        commands will be determined with a coinflip-
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_004_b1.png" />
      <p class="command">>Mr. Balboa, use catch Bimpus with a big ol catcher's mitt</p>
      <p class="narrator">"Can do!"</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_004_b2.png" />
      <br />
      <img class="centerksh" src="../img/part2/p2_004_b3.png" />
      <p class="command">>create a comically deep crater</p>
      <p class="narrator">Our Pro Tagonist is out cold. Yet again.</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_005_a.png" />
      <p class="command">>Check and see if Bimpus is okay</p>
      <p class="narrator">
        Our NIMBLE RAT friend has just fallen from 30ft in the sky and crashed into the inner layers
        of the Earth. You think it's time to check if he's just "okay?" That we shouldn't assume all
        of his bones are NOT split into basic cells at this point?? That right now is the perfect
        time to find out the obvious???
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_005_a2.png" />
      <p class="command">>Check and see if Bimpus is okay</p>
      <p class="narrator">
        Because yes, it is. Looks like Bimpus got pretty much got POTBUSTED, BUT PROBABLY ALIVE
        THANKS TO FICTION
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_005_c.png" />
      <p class="command">
        >Reminisce about your failed career as an outfielder for the Houston Astros
      </p>
      <p class="narrator">
        Balboa never made it to the big leagues. During his university-days, Balboa regretted
        studying accounting and wanted to get big with baseball. But it was too late, everyone his
        age was way better at the game than he was. But Balboa guesses it's alright, there are
        e-girls and esports athletes making more than he would imagine as a PRO BASEBALL PLAYER
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_005_b.png" />
      <p class="command">>"Balboa"</p>
      <p class="narrator">Balboa, indeed.</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_006_a.png" />
      <p class="command">>Sleep until Bimpus wakes up</p>
      <p class="narrator">
        Our TEMPORARY PROTAGONIST has decided there is nothing to do in his current state of an
        IMMOBILE, INANIMATE BEING, so he dozes off hoping that he will wake up soon. Balboa begins
        to dream of his HIGH SCHOOL DAYS...
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_006_b.png" />
      <p class="command"></p>
      <p class="narrator">
        Ah yes, the 16th of March of an irrelevant year, not meant to parallel real life. The day of
        your SPRING BREAK starts today, meaning you have ALL THE TIME DREAMT UP FOR THE WEEK to do
        whatever you so please. You can socialize with friends, hang out at the mall or stay inside
        and do your UNECESSARY SPRING BREAK HOMEWORK your teachers have assigned you. What will you
        do for today?
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_007_a.png" />
      <p class="command">>inspect funny object on bookshelf</p>
      <p class="narrator">
        This old thing? Balboa got it from his dad 2 or 3 years ago when he tried running a startup
        publishing company on THE WORST BUT PROBABLY ALSO BEST PLACE. Supposedly this ELF FIGURINE
        was based off him somewhat since his father loved him so much, but the way the story went
        doesn't sit well in Balboa's head He'd rather not think about it, it's an awkward unfinished
        <a style="color: orange" href="https://archived.moe/qst/thread/2771528">mess</a>
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_007_b1.png" />
      <p class="command">>inspect Ankha pinup</p>
      <p class="narrator">
        Ah yes, PlayAnkha's yearly calendar. This LUSH, EXQUISITE MAGAZINE COMPANY is dedicated in
        highlighting the HOTTEST TROPICAL DAME, ANKHA. Men want her, women want to be her... and
        ALSO WANT HER. There's been some deep rumors going around lately she's some sort of MESSIAH
        but it's all a bunch of bullshit. Who cares, you think, drooling over this babes AMBROSIANT
        MANIFESTATION
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_007_b2.png" />
      <p class="narrator">
        It's a dream, Balboa tells you. It's the best thing ever, going to sleep and thinking about
        being with her at the beach. It felt like a vacation. Or better yet, it was. Still, the
        moment he feels JADED, Balboa wakes up from paradise and faces reality. That's ok, that's
        just the way life goes, because our PARTIAL PRO TAGONIST has to go to sleep every night and
        meet his sweetheart, kind of like Little Nemo.
      </p>
      <p>Balboa whispers to himself: "I need you, Ankha."</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_007_c.png" />
      <p class="command">>Check SOCIAL LINKS</p>
      <p class="narrator">
        You open up your STYLISH MENU OF SOCIAL LINKS. Who will you hang out with today?
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_008_a.png" />
      <p class="command">>Go on a date with your EPIC TEACHER</p>
      <p class="narrator">
        It's evening time at the park with Ms. Footsies. You two are SOMEWHAT SEEING EACH OTHER as a
        secret. No one really knows, maybe not even Ms. Footsies herself. Either way your goal today
        is to WOO HER for real on this second date. Maybe the funeral house wasn't a good idea,
        already from the park's environment do you feel there's a CHANCE OF SOMETHING HAPPENING
        between you two
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_009_a.png" />
      <p class="command">>Rip an apple apart with your bare hands</p>
      <p class="narrator">
        Balboa can do BETTER than that. He grabs an APPLE he apparantly had in his inventory and
        beings squeezing it until it begins to crack. But the POINT OF TIME in which Balboa is in
        means he does not have as much STRENGTH as we initially saw
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_009_b1.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_009_b2.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_009_b3.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_009_c.png" />
      <p class="narrator">
        It appears Miss Footsies has taken your gesture as a CHALLENGE AGAINST WARRIORS. How will
        you FIGHT?
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_010_a.png" />
      <p class="command">>Zone with apple</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_010_b.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_010_c.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_010_d.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_010_e.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_010_f.png" />
      <p class="narrator">Oh thank god that wasn't a touch of death combo</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_011_a.gif" />
      <p class="command">>Call Masculine Uncle ASSIST</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_011_b.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_011_c.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_011_c2.gif" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_011_d.gif" />
      <p class="narrator">
        The power of the UNCLE CONFIDANT allows Balboa to perform a FUCKING INFINITE COMBO. It's the
        EASIEST SHIT IN BIMPUS QUEST PART 2, turning the fight into a total cakewalk. Just one
        launch in the air then all you need to do is keep up the rhythm.
      </p>
      <p>Best part is that you can cancel it into-</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_011_e.png" />
      <p class="narrator">HEAVY PUNCH ULTRA</p>
      <p class="narrator">
        <a style="color: orange" target="_blank" href="https://www.youtube.com/watch?v=vpYdEjvAg3k"
          >AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</a
        >
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_011_f.png" />
      <p class="narrator">
        Now that the fight is essentially over, all there's left is the FORESHADOWING FOG
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_012_a.png" />
      <p class="command">>suck up the fog</p>
      <p class="narrator">
        Balboa looks at you unapprovingly, reminding you that he's STILL A ROCK PERSON. He has NO
        LUNGS to suck in the fog let alone NO INVENTORY SPACE due to the confinements of this dream!
      </p>
      <p class="narrator">
        As legendary comedian arminarbobz once said: "a man should never need to suck"
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_012_b1.png" />
      <p class="command">>Retrieve CONVENIENT FAN STICKER and conjure up a fan to rid of the fog</p>
      <p class="narrator"></p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_012_b2.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_012_b3.png" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_012_b4.png" />
      <p class="narrator">Just like how it started! Except your opponent is down and about</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_012_c1.gif" />
      <p class="command">>Fist bump with Ms. Footsies</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_012_c2.gif" />
      <p class="narrator">
        Balboa's EPIC TEACHER SOCIAL LINK has ranked up to RANK 6! He can now copy moves of RANK 6
        FIGHTERS!
      </p>
      <p class="narrator">
        It's late now and you gotta get back home. Ms. Footsies has proven herself to be well
        adapted at night, so you leave her where she lies OUT OF RESPECT FOR HER PROVEN STRENGTH
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_012_d.png" />
      <p class="narrator">
        You are now back home, and it seems like the dream could end right now. Anything left you
        wanna do?
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_013_a1.png" />
      <p class="command">>Spend time with your hot babe</p>
      <p class="narrator">
        Once you again, Balboa observes the ELUSIVE CALENDAR provided from the POSH, RETICENT
        MAGAZINE COMPANY known as PlayAnkha. Despite already observing it earlier today, Balboa
        simply can't resist HIS QUEEN who looks back at him pleasantly
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_013_a2.png" />
      <p class="narrator">
        Quite frankly, he's been thinking of her the whole day. Like a lovestruck fool in the
        workplace, today could have been a bit more productive if it weren't for his HONEY HOTCAKES
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_013_b.png" />
      <p class="command">>Peform your nightly ritual</p>
      <p class="narrator">
        Balboa engages in the ritual. He cannot sleep without doing this.
      </p>
      <p class="narrator">HORNY 0/10 => 5/10</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_013_c.gif" />
      <p class="command">>Detach head</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_013_d.gif" />
      <p class="narrator">
        This Spring Break's first day is going to unforgettable forever for landing a FUCKING
        INFINITE, ranking up Balboa's EPIC TEACHER SOCIAL LINK and even getting to see MASCULINE
        UNCLE get out of jail for the day. But this is just a character arc since, after all, this
        is BIMPUS QUEST not BALBOA QUEST. And ending this arc on a sleepy note would be pretty good
        for now.
      </p>
    </div>

    <!-- Edit the .gif -->
    <div class="page">
      <img class="centerksh" src="../img/part2/p2_013_e.gif" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_014_a.png" />
      <p class="command">>Loot this guy</p>
      <p class="narrator">
        It appears someone has salvaged their previous belongings before you could. All there is
        left is a WOLF PLUSH As much as Bimpus would love a new BITING TOY from , it appears that it
        requires 3 slots to keep in Bimpus's inventory
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_014_b.png" />
      <p class="command">>Undergo mitosis</p>
      <p class="narrator">
        There are now two Bimpus's. The original will be referred to as SOLID and the other will be
        LIQUID from this point forward
      </p>
      <p class="narrator">
        I believe this closes into the obligatory "this is stupid" moment in every user-driven
        webcomic.
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_014_c1.gif" />
      <p class="command">>Do the secret rat dance</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_014_c2.gif" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_014_c3.gif" />
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_014_c4.gif" />
      <p class="narrator">LIQUID Bimpus has become GAS Bimpus</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_014_e.png" />
      <p class="command">>Continue the actual plot already</p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_014_f.png" />
      <p class="narrator">
        Balboa has awoken from the dreamscape and is back to reality with the REAL Pro-Tagonist
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_015_a1.gif" />
      <p class="command">>Balboa: Give Bimpus a big ol' smooch</p>
      <p class="narrator">
        Balboa's RAT ON A QUEST SOCIAL LINK has reached RANK 9! He can now perform RANK 9 AMAZING
        RAT TRICKS
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_015_b1.png" />
      <p class="command">>Balboa: Now YOU jump up high</p>
      <p class="narrator">
        Bimpus must've had a long adventure getting here. It looks like another whole chapter-worth
        of a story!
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_015_b2.png" />
      <p class="narrator">
        Balboa sticks the landing, borrowing a RANK 6 FIGHTER technique known as (AERIAL) TECH
        RECOVER
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_015_c.png" />
      <p class="narrator">
        With a dedicated character backstory arc finished, our duo's adventures will finally
        continue properly. Will Bimpus achieve his quest's goals of eating FOOD? Or perhaps find a
        MATE? Maybe he will perish knowing his life was at least ENJOYABLE with his rocky friend?
      </p>
    </div>

    <div class="page">
      <img class="centerksh" src="../img/part2/p2_015_d.gif" />
      <p class="narrator">Only the future can tell the fate of their QUEST</p>
      <p class="narrator">BIMPUS QUEST PART TWO: CONCLUDED</p>
      <p class="narrator">(Part 3 coming soon)</p>
    </div>
  </body>
  <nav class="container"></nav>
</html>

<!--
  <div class="page">
  <img class="centerksh" src="../img/part2/ENTER_IMG" />
  <p class="command">>ENTER_COMMAND</p>
  <p class="narrator">
    ENTER_NARRATION
  </p>
-->
